.list-container {
  margin: 0 50px;
  min-height: 80vh;
}

.done-icon {
  width: 32px !important;
  height: 32px !important;
  color: #1a90ff;
}

.todo-icon {
  width: 32px !important;
  height: 32px !important;
  color: #646464;
}

.icon-wrapper {
  width: 32px !important;
  height: 32px !important;
  border-radius: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}
