@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap");

.header-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  float: left;
  width: 200px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;

  color: #0c73ec;
}
