.wrapper {
  margin-bottom: 24px;
}

.video-player-container {
  position: relative;
  background: rgba(0, 0, 0);
  width: 60vw;
  display: flex;
  justify-content: center;
}

.note-and-slider-container {
  width: 97%;
  margin-bottom: 20px;
  margin-left: 3%;
}

.slider-container {
  width: 100%;
  padding: 10px 50px;
  text-align: center;

  /* border: solid 1px black; */
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  border-radius: 15px;
}

.video-and-label-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
}

.label-or-note {
  width: 35vw;
}

.completeButton {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
